<div>
  <ul class="nav flex-column">
    <li class="nav-item" *ngIf="_cotizarService.data.organicResults.length > 0">
      <a class="nav-link active" routerLink="/results/organic-results">Resultados orgánicos</a>
    </li>
    <li class="nav-item" *ngIf="_cotizarService.data.inlineProducts.length > 0">
      <a class="nav-link" routerLink="/results/inline-products">Productos en línea</a>
    </li>
    <li class="nav-item" *ngIf="_cotizarService.data.inlineShopping.length > 0">
      <a class="nav-link" routerLink="/results/inline-shopping">Compras en línea</a>
    </li>
    <!--
    <li class="nav-item" *ngIf="mostrarUrl(_cotizarService.data.localAds)">
      <a class="nav-link" href="#">Productos locales</a>
    </li>
    -->
    <li class="nav-item" *ngIf="mostrarUrl(_cotizarService.data.localResults)">
      <a class="nav-link" routerLink="/results/map">Donde comprar</a>
    </li>
    <li class="nav-item" *ngIf="mostrarUrl(_cotizarService.data.shoppingResults)">
      <a class="nav-link" routerLink="/results/shopping">Compras</a>
    </li>
    <!--
    <li class="nav-item" *ngIf="mostrarUrl(_cotizarService.data.mapa)">
      <a class="nav-link" href="#">Mapa</a>
    </li>
    -->
  </ul>
</div>
