.navbar{
    .row{
      width: 100%;
    }
  }
  
  .config-container,
  .form-group{
    display: flex;
    flex-wrap: nowrap;
  
    .btn:hover{
      background: #dfe0e1;
    }
  }
  
  .shadow {
    box-shadow: 0 .9rem 1rem rgba(0,0,0,.15)!important;
  }
  