.map_container{
  position: absolute;
  width: 100%;
  height: 100%;
}

#hotel_map {
  position: absolute;
  height: 400px;
  width: 100%;
}

/* camiando el estilo a los controles del zoom de Mapa */
::ng-deep .ol-control button {
  background-color: rgb(80, 141, 211);
  color: white;
  border: solid thin rgb(88, 88, 173);
}
