<div class="content-details-results">
  <app-grid
    [datos]="datos"
    [campos]="['thumbnail','title','price','original_price','price','dcto','source','link']"
    [cabeceras]="['Imagen','Nombre','Precio actual','Precio original','Descuento','Vendido por','Página web']"
    [tipoColumna]="['image','string','currency','currency','string','string','link']"
  >
  </app-grid>

  <!--
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col col-precio">Precio actual</th>
        <th scope="col col-precio">Precio original</th>
        <th scope="col col-precio">% descuento</th>
        <th>Vendido por</th>
        <th scope="col">Página web</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.datos; index as i">
        <td scope="row">{{ i + 1 }}</td>
        <td *ngIf="item.thumbnail"><img [src]="item.thumbnail" [alt]="item.thumbnail"></td>
        <td *ngIf="!item.thumbnail">Sin foto</td>
        <td>{{ item.title }}</td>
        <td class="td-precio">{{ formatearPrecio(item.price, item.currency) }}</td>
        <td class="td-precio">{{ formatearPrecio(item.original_price, item.currency) }}</td>
        <td>{{ calcularDescuento(item.price, item.original_price) }} %</td>
        <td>{{ item.souce }}</td>
        <td> <a [href]="item.link" target="aboutBlank">Ir a la página web de la tienda</a></td>
      </tr>
    </tbody>
  </table>
  -->
</div>
